.new-deck-btn__item {
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.decks__summary {
    margin: 0 auto;
    width: 90%;
    border: solid 1px #E0E0E0;
    border-radius: 8px;
}
.decks__summary li {
    list-style: none;
    border: solid 1px #E0E0E0;
    border-radius: 16px;
    margin: 5px;
    padding: 5px;
}
.decks__summary li h2 {
    font-size: 2.5rem;
}

@media (min-width: 920px) {
    .decks__summary ul {
        width: 800px;
        margin: 0 auto;
    }
}